<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/home.css">
   
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
    <body onload="">
      <header>
        <div class="logo">
          <!-- logo -->
        </div>
      </header>
      <section>
        <div class="coming-soon">
          <h1>Coming Soon</h1>
        </div>
       <div class="initiative-digital-support-container">
                <div class="initiative">
                  <p>An Initiative By</p>
                  <div class="image" data-aos="zoom-in">
                    <img src="/images/TRP.png" alt="image">

                  </div>
                </div>
                <div class="digital"><p>Digital Media Partner</p>
                  <div class="image" data-aos="zoom-in">
                    <img src="/images/The Wise Owl.png" alt="image">

                  </div></div>
                <div class="support-container">
                  <p>Supported By</p>
                  <div class="support-content">
                                 
                    <div class="support">
                      <div class="image" data-aos="zoom-in">
                        <img src="/images/Resourcers Solutions.png" alt="image">


                      </div>

                    </div>
                    <div class="support">
                      <div class="image" data-aos="zoom-in">

                    <img src="/images/Bnancial.png" alt="image">

                      </div>

                    </div>

                  </div>
                </div>
       </div>
       
      </section>
      <footer>
        <div class="container">
            
             <div class="socialmedialink-email-container">
              <div class="socialmedialink"> 
                <a href="https://www.facebook.com/The-Jugaad-Challenge-109310644536720" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.linkedin.com/company/jugaadchallenge" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://twitter.com/jugaadchallenge?s=09" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://instagram.com/jugaadchallenge?igshid=1pcrb8kc6klzt" target="_blank"><i class="fab fa-instagram"></i></a>
              </div>
              <div class="email-container">
                <i class="fas fa-envelope-square"><span class="email-address"> &nbsp;  info@thejugaadchallenge.com</span></i>
              </div>
             </div>
        </div>
        <div class="copyrights">
          <p> &#169; 2021 The Wise Owl- All rights Reserved </p>
        </div>
      </footer>

      <script>
        AOS.init();
      </script>
</body>
</html>