* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    height: 20vh;
    background: rgb(255, 255, 255);
  }
  header .logo {
    width: 100%;
    height: 20vh;
    background-image: url('/images/juggad_imagess.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
  }
  
  
  /* section */
  section {
    height: 60vh;
    background: rgb(119, 137, 221);
    position: relative;
    animation: sectionbackground 1s linear infinite;
  }
  
  
  section .hero {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-content{
    position: relative;
  padding: 20px;

  }
  
  section .hero .circular-rotate{
    position: absolute;
    border: 10px solid rgb(218, 27, 27);
    border-top-color: #ff6a00;
    border-bottom-color: green;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    animation: round 2s linear infinite;
  }
  section .hero .circular-rotate.one{
    top: 0;
    left: 35%;
  }

  section .hero .circular-rotate.two{
    top: 0;
    left: 45%;
  } 
  section .hero .circular-rotate.three{
    top: 0;
    left: 55%;
  }
  

  @keyframes round{
    from{
      
      /* left: 15%; */
      transform: rotate(0deg)
    
    }
    to{
      /* left: 85%; */
      transform: rotate(360deg)
    
    }
  }
  

  
  
  section .hero h1 {
      color: rgb(0, 0, 0);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    text-shadow: 2px 2px 0 rgb(255, 255, 255);
    animation: blink 0.5s linear infinite;
  }
  @keyframes blink {
    0% {
      text-shadow: 2px 2px 0 rgb(255, 255, 255);
    }
    25% {
      text-shadow: 2px 2px 0 rgb(175, 44, 44);
    }
    50% {
      text-shadow: 2px 2px 0 rgb(112, 82, 82);
    }
    75% {
      text-shadow: 2px 2px 0 rgb(35, 45, 49);
    }
    100% {
      text-shadow: 2px 2px 0 rgb(255, 255, 255);
    }
  }
  section .hero h1:hover {
    color:  rgb(75, 73, 204);
  }
  /*  */
  footer {
    height: 20vh;
    display: flex;
    color: white;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }
  footer .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    height: calc(20vh - 50px);
  }
  
  footer .container .logo {
    position: relative;
    width: 100%;
    height: calc(20vh - 50px - 50px);
    background: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .container .email-container {
    position: relative;
    width: 100%;
    height: 50px;
    background: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  footer .container .email-container .fas{
    font-size: 18px;
    color: rgb(30, 210, 255);
  }
  footer .container .email-container .email-address{
    font-family:Georgia, 'Times New Roman', Times, serif;

    font-size: 18px;
    color: rgb(255, 255, 255);
  }

  footer .copyrights {
      
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: 50px;
    position: absolute;
    color: white;
    background: black;
    height: 50px;
    width: 100%;
    bottom: 0;
  }
  
  .logo a {
    width: 50px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-decoration: none;
    background: rgb(3, 3, 3);
    margin: 5px;
    box-shadow: 0 0 5px white;
    animation: logoshadow 0.5s linear infinite;
  }
  
  @keyframes logoshadow {
    0% {
      box-shadow: 0 0 5px rgb(255, 255, 255);
    }
    25% {
      box-shadow: 0 0 5px rgb(175, 44, 44);
    }
    50% {
      box-shadow: 0 0 5px rgb(112, 82, 82);
    }
    75% {
      box-shadow: 0 0 5px rgb(35, 45, 49);
    }
    100% {
      box-shadow: 0 0 5px rgb(255, 255, 255);
    }
  }
  
  .fab {
    font-size:30px ;
  }
  
  .fa-facebook-square {
    color: #3b5998;
  }
  .fa-linkedin {
    color: #0e76a8;
  }
  .fa-twitter {
    color: #2299dd;
  }
  .fa-instagram {
    color: #bc2a8d;
  }
  
  .logo a:hover {
    background: rgb(255, 255, 255);
  }
  
  
  
  /* responsive design for mobile */
  @media screen and (max-width: 540px) {
    section .hero h1 {
      font-size: 35px;
     
    }

    header .logo {
   
        background-size: cover !important;
        
      }

      .logo a {
        width: 40px;
        height: 40px;
       
      }
      .fab {
        font-size:25px ;
      }
      footer .copyrights {
      
       
        line-height: 30px;
       font-size: 16px;
        height: 30px;
        
      }


      footer .container .logo {
       
        height: calc(20vh - 30px - 35px);
     
      }
    
      footer .container .email-container {
        height: 35px;
       
      }

      footer .container .email-container .email-address{
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 12px;
        color: rgb(210, 220, 230);
      }

      section .hero .circular-rotate.one{
       width: 25px;
       height: 25px;
      }
    
      section .hero .circular-rotate.two{
        width: 25px;
        height: 25px;
      } 
      section .hero .circular-rotate.three{
        width: 25px;
        height: 25px;
      }


      .hero-content{
      padding: 50px;
    
      }
}



@media screen and (max-width: 330px) {

  section .hero h1 {
    font-size: 25px;
   
  }

}